<%= form_tag products_path, method: :get do %>
  <div><%= t "search.category" %><%= select_tag "sub_category",
    grouped_options_for_select(group_category_select),class: "select form-control",
    include_blank: "All" %>
  </div>
  <div><%= t "rating" %><%= select_tag "rate",
    options_for_select(rate_select),class: "select form-control",
    include_blank: "All" %>
  </div>
  <div class="price-slider">
    <label for="">Price</label>
    <label>€ 10</label>
    <div class="slider-wrapper">
      <!-- <input id="price-slider" type="text" data-slider-min="0" ]
        data-slider-max="10000" data-slider-step="100" data-slider-value="[0,1000]"
        data-slider-orientation="vertical"/> -->
      <%= text_field_tag "price", "", id: "price-slider", type: "text", "data-slider-min": "0",
        "data-slider-max": "10000", "data-slider-step": "100",
        "data-slider-value": "[0,1000]",
        "data-slider-orientation": "vertical"%>
    </div>
    <label>€ 1000</label>
  </div>
  <button type="submit" class="btn btn-primary full-width-button">
    search
  </button>
<% end %>
